{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Administrer les biens</h1>
        {{  include('flash_messages.html.twig') }}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <body>
                <div class="flex row">
                    {% for property in  properties %}
                        <tr>
                            <td>{{ property.title }}</td>
                            <td>
                                <a href="{{ path('admin.property.edit', {id: property.id}) }}"class="btn btn-secondary">Editer</a>
                                <form method="post" action="{{ path('admin.property.delete', {id:property.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sur?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </div>
            </body>
        </table>

        <div class="texte-right">
            <a href="{{ path("admin.property.new") }}" class="btn btn-primary">Créer un nouveau bien</a>
        </div>
    </div>
{% endblock %}